:root[data-acorn-theme="high-contrast-dark"] {
  --color-bg: #0a0c10;
  --color-bg-elevated: #272b33;
  --color-bg-sidebar: #010409;
  --color-input: color-mix(in oklab, var(--color-bg-elevated) 90%, #fff);
  --color-input-hover: color-mix(in oklab, var(--color-bg-elevated) 86%, #fff);
  --color-input-border: color-mix(in oklab, var(--color-border) 84%, #fff);
  --color-fg: #f0f3f6;
  --color-fg-muted: #bdc4cc;
  --color-border: #7a828e;
  --color-accent: #71b7ff;
  --color-accent-hover: #91cbff;
  --color-danger: #ff6a69;
  --color-warning: #f0b72f;
  --color-terminal-bg: #0a0c10;
  --color-terminal-fg: #f0f3f6;
  --color-selection: rgba(64, 158, 255, 0.50);
  --color-term-selection: var(--color-selection);
  --color-term-black: #0a0c10;
  --color-term-red: #ff9492;
  --color-term-green: #26cd4d;
  --color-term-yellow: #f0b72f;
  --color-term-blue: #71b7ff;
  --color-term-magenta: #cb9eff;
  --color-term-cyan: #76e3ea;
  --color-term-white: #d9dee3;
  --color-term-bright-black: #9ea7b3;
  --color-term-bright-red: #ffb1af;
  --color-term-bright-green: #4ae168;
  --color-term-bright-yellow: #f7c843;
  --color-term-bright-blue: #91cbff;
  --color-term-bright-magenta: #dbb7ff;
  --color-term-bright-cyan: #b3f0ff;
  --color-term-bright-white: #ffffff;
}
